[Unit]
Description=Linux Emulator Service
After=network.target

[Service]
Type=simple
User=emulator_user
WorkingDirectory=/path/to/linux-emulator-server
ExecStart=/usr/bin/go run src/core/main.go
Restart=on-failure
Environment=ENV_VAR_NAME=value

[Install]
WantedBy=multi-user.target